[submodule "external/mcs-unity"]
	path = external/mcs-unity
	url = https://github.com/aldelaro5/mcs-unity
	branch = master
[submodule "external/UniverseLib"]
	path = external/UniverseLib
	url = https://github.com/duhhbzz/UniverseLib
	branch = dev/gk2-unity63-review
